.illustration {
	padding: em(95) em(120);
	margin: 0 auto;
	position: relative;

	@include breakpoint-up("large") {
		padding: em(95) em(120);
	}
}

.overlay {
	margin: auto;
	width: 20%;
	z-index: 1;
	position: absolute;
	top: 150px;
	left: 0;
	bottom: 0;
	right: 0;

	@include breakpoint-up("medium") {
		top: 350px;
		width: 25%;
	}

	@include breakpoint-up("large") {
		width: 30%;
	}
}
